<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shakes</title>
</head>
<body>
    <h1>Shakes</h1>
    <div class="shakes">
        {% for shake in shakes %}
        <div class="shake">
            <div class="shake-img">
                <img src="{{ x.image.url }}">
            </div>
            <div class="shake-content">
                <h2>{{shake.name}}</h2>
                <p>{{shake.summary}}</p>
                <p>€{{shake.price}}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</body>
</html>