{% include 'header.html' %}
    <title>Shakes</title>
</head>
<body>
    <h2>Shakes</h2>
    <div class="shakes-bg">
        {% for x in shakes %}
        <div class="shake">
            <div class="shake-img">
                <img src="{{ x.image.url }}">
            </div>
            <div class="shake-content">
                <h5>{{x.name}}</h5>
                <p>{{x.summary}}</p>
                <p>€{{x.price}}</p>
            </div>
        </div>
        {% endfor %}
    </div>
{% include 'footer.html' %}