body{
    margin: 0;
}
nav{
    background-color: #475B5A;
    height: 120px;
    display: block;
    text-align: center;
}
.logo-nav{
    width: auto;
    height: 60px;
    text-align: center;
    margin-top: 5%;
}
nav ul{
    list-style: none;
    display: flex;
    margin-top: 10%;
    padding: 2%;
}
nav ul li{
    margin-right: 5%;
    color: white;
    font-size: 20px;
}
#hamburger{
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
}
#mobile-nav{
    background: #A3A9AA;
    display: none;
}
ul.mobile-nav-ul{
    margin: 0;
    padding-top: 25px;
    padding-bottom: 25px;
    color: black;
}
ul.mobile-nav-ul li:hover{
    background: #8D8E8E;
}
.sub-categories-styling{
    padding-top: 10px;
    padding-bottom: 10px;
}