{% include 'header.html' %}
    <main>
        <div class="slide-home">
            <img src="/static/imgs/slide-1.jpg" id="slide-home-images">
            <div class="context-slide">
                <p>Get your Protein now!</p>
            </div>
        </div>
        <div class="front-page-discount-img">
            <img src="/static/imgs/discount.png">
        </div>
        <div class="grey-card context-protein">
            <h3>Proteins are important.</h3>
            <ul>
                <li>It is a building material for muscles and tissues.</li>
                <li>important fuel for the body.</li>
            </ul>
            <p>It is possible to use protein in the form of shakes, bars and other products. </p>
            <p><i>We offer a wide range of protein products.</i></p>
        </div>
        <div class="category-list">
            <h2>Categories</h2>
            <ul>
                <li><img class="category-list-item" src="/static/imgs/shake-category.png"> Shakes</li>
                <li><img class="category-list-item" src="/static/imgs/bars-category.png"> Bars</li>
                <li><img class="category-list-item" src="/static/imgs/wristband-category.png"> Accesoires</li>
            </ul>
        </div>
        <!-- <div class="grey-card">
            <h3>Shakes</h3>
            <p>Shakes are a great way to get your protein. They are easy to use and you can take them with you anywhere.</p>
            <p>Our shakes are made from the best ingredients and are available in many different flavors.</p>
            <p><i>Check out our shakes!</i></p>
        </div> -->
        <div class="imgs-collection">
            <img class="focus_image" src="/static/imgs/focus.jpg">
            <img class="focus_image" src="/static/imgs/focus_2.jpeg">
        </div>
        <div class="grey-card">
            <p class="love-to-p">Do the thing you really love to do, We provide the items that could do the best for you!</p>
        </div>
    </main>
    {% include 'footer.html' %}